In this Notebook, I will more thoroughly analyze the columns of the `edstats_country` file that was obtained from [The World Bank](https://datacatalog.worldbank.org/dataset/education-statistics). Unfortunately, there does not seem to be any sort of column definition file, so I will review the columns, clean the columns, and make some visualizations.

First, I will import the necessary packages/libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
edstats_country = pd.read_csv("/Users/scottmaccarone/Desktop/Coding/My_Fun_Projects/Data Cleaning_Education Stats_World Bank/Edstats_csv 2/EdStatsCountry.csv")

Now I will determine some basic information about this file, the columns, and the contents:

In [3]:
edstats_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
Country Code                                         241 non-null object
Short Name                                           241 non-null object
Table Name                                           241 non-null object
Long Name                                            241 non-null object
2-alpha code                                         238 non-null object
Currency Unit                                        215 non-null object
Special Notes                                        145 non-null object
Region                                               214 non-null object
Income Group                                         214 non-null object
WB-2 code                                            240 non-null object
National accounts base year                          205 non-null object
National accounts reference year                     32 non-null float64
SNA price valuation                                  197 non-null object
Lending category                                     144 non-null object
Other groups                                         58 non-null object
System of National Accounts                          215 non-null object
Alternative conversion factor                        47 non-null object
PPP survey year                                      145 non-null object
Balance of Payments Manual in use                    181 non-null object
External debt Reporting status                       124 non-null object
System of trade                                      200 non-null object
Government Accounting concept                        161 non-null object
IMF data dissemination standard                      181 non-null object
Latest population census                             213 non-null object
Latest household survey                              141 non-null object
Source of most recent Income and expenditure data    160 non-null object
Vital registration complete                          111 non-null object
Latest agricultural census                           142 non-null object
Latest industrial data                               107 non-null float64
Latest trade data                                    185 non-null float64
Latest water withdrawal data                         179 non-null object
Unnamed: 31                                          0 non-null float64
dtypes: float64(4), object(28)
memory usage: 60.3+ KB

In [4]:
edstats_country.shape

(241, 32)

In [5]:
pd.options.display.max_columns = 35

In [6]:
edstats_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accou...,1991–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,1996.0,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,1990,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

What are some things I want to know about this dataset?

- Are there any redundant columns?
- Are there columns that are "useless", or have too many missing/null values?
- Is there a pattern in the other columns that have null values? (ex: war-torn countries, affluent countries, etc.)
- Is there any important information in the `Special Notes` column to be extracted and used?

In [10]:
edstats_country[edstats_country['Short Name'] != edstats_country['Table Name']]

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
21,BHS,The Bahamas,"Bahamas, The",Commonwealth of The Bahamas,BS,Bahamian dollar,NaN,Latin America & Caribbean,High income: nonOECD,BS,2006,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2010,NaN,NaN,NaN,NaN,NaN,2012.0,NaN,NaN
29,BRN,Brunei,Brunei Darussalam,Brunei Darussalam,BN,Brunei dollar,NaN,East Asia & Pacific,High income: nonOECD,BN,2000,NaN,Value added at producer prices (VAP),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,2005,NaN,NaN,Special trade system,NaN,General Data Dissemination System (GDDS),2011,NaN,NaN,Yes,NaN,NaN,2012.0,1994,NaN
40,COD,Dem. Rep. Congo,"Congo, Dem. Rep.",Democratic Republic of the Congo,CD,Congolese franc,"Based on INS (2000-09) and IMF (2010-13) data,...",Sub-Saharan Africa,Low income,ZR,2005,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,1999–2001,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Consolidated central government,General Data Dissemination System (GDDS),1984,"Demographic and Health Survey (DHS), 2013","1-2-3 survey (1-2-3), 2004/05",NaN,NaN,NaN,NaN,2005,NaN
41,COG,Congo,"Congo, Rep.",Republic of Congo,CG,CFA franc,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Lower middle income,CG,1990,NaN,Value added at producer prices (VAP),Blend,HIPC,Country uses the 1968 System of National Accou...,1993,2005,"IMF Balance of Payments Manual, 6th edition.",Preliminary,Special trade system,Consolidated central government,General Data Dissemination System (GDDS),2007,"Demographic and Health Survey (DHS), 2011/12",Core Welfare Indicator Questionnaire Survey (C...,NaN,2013,2009.0,2010.0,2002,NaN
57,EAP,East Asia & Pacific (developing only),East Asia & Pacific,East Asia & Pacific (developing only),4E,NaN,East Asia and Pacific regional aggregate (does...,NaN,NaN,4E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,ECA,Europe & Central Asia (developing only),Europe & Central Asia,Europe & Central Asia (developing only),7E,NaN,Europe and Central Asia regional aggregate (do...,NaN,NaN,7E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,EGY,Egypt,"Egypt, Arab Rep.",Arab Republic of Egypt,EG,Egyptian pound,Fiscal year end: June 30; reporting period for...,Middle East & North Africa,Lower middle income,EG,1991/92,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2006,"Demographic and Health Survey (DHS), 2008","Expenditure survey/budget survey (ES/BS), 2011",Yes,2009/2010,2010.0,2012.0,2000,NaN
73,FSM,Micronesia,"Micronesia, Fed. Sts.",Federated States of Micronesia,FM,U.S. dollar,Fiscal year ends on September 30; reporting pe...,East Asia & Pacific,Lower middle income,FM,2004,NaN,Value added at basic prices (VAB),IDA,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NaN,"Integrated household survey (IHS), 2000",NaN,NaN,NaN,NaN,NaN,NaN
80,GMB,The Gambia,"Gambia, The",Republic of The Gambia,GM,Gambian dalasi,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,GM,2004,NaN,Value added at producer prices (VAP),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2013,"Demographic and Health Survey (DHS), 2013","Integrated household survey (IHS), 2010",NaN,NaN,2004.0,2011.0,2000,NaN
100,IRN,Iran,"Iran, Islamic Rep.",Islamic Republic of Iran,IR,Iranian rial,Fiscal year end: March 20; reporting period fo...,Middle East & North Africa,Upper middle income,IR,1997/98,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,1980–2002,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Consolidated central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2000","Expenditure survey/budget survey (ES/BS), 2005",Yes,2013,2009.0,2011.0,2004,NaN
114,KOR,Korea,"Korea, Rep.",Republic of Korea,KR,Korean won,New base year is 2010. GDP data are available ...,East Asia & Pacific,High income: OECD,KR,2010,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,2011,"IMF Balance of Payments Manual, 6th edition.",NaN,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,NaN,"Expenditure survey/budget survey (ES/BS), 1998",Yes,2010,2008.0,2012.0,2002,NaN
116,LAC,Latin America & Caribbean (developing only),Latin America & Caribbean,Latin America & Caribbean (developing only),XJ,NaN,Latin America and Caribbean regional aggregate...,NaN,NaN,XJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,MKD,Macedonia,"Macedonia, FYR",Former Yugoslav Republic of Macedonia,MK,Macedonian denar,April 2012 database update: Based on official ...,Europe & Central Asia,Upper middle income,MK,1995,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2002,"Multiple Indicator Cluster Survey (MICS), 2011","Expenditure survey/budget survey (ES/BS), 2009",Yes,2007,2010.0,2012.0,2007,NaN
148,MNA,Middle East & North Africa (developing only),Middle East & North Africa,Middle East & North Africa (developing only),XQ,NaN,Middle East and North Africa regional aggregat...,NaN,NaN,XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,PRK,Dem. People's Rep. Korea,"Korea, Dem. Rep.",Democratic People's Republic of Korea,KP,Democratic People's Republic of Korean won,NaN,East Asia & Pacific,Low income,KP,NaN,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,NaN,NaN,NaN,2008,"Multiple Indicator Cluster Survey (MICS), 2009",NaN,NaN,NaN,NaN,NaN,2005,NaN
185,RUS,Russia,Russian Federation,Russian Federation,RU,Russian ruble,NaN,Europe & Central Asia,High income: nonOECD,RU,2000,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,1987–95,2011,"IMF Balance of Payments Manual, 6th edition.",NaN,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,"World Health Survey (WHS), 2003","Integrated household survey (IHS), 2012",Yes,2014,2010.0,2012.0,2001,NaN
198,SSA,Sub-Saharan Africa (developing only),Sub-Saharan Africa,Sub-Saharan Africa (developing only),ZF,NaN,Sub-Saharan Africa regional aggregate (does no...,NaN,NaN,ZF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,VEN,Venezuela,"Venezuela, RB",República Bolivariana de Venezuela,VE,Venezuelan bolivar fuerte,NaN,Latin America & Caribbean,Upper middle income,VE,1997,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),2011,"Multiple Indicator Cluster Survey (MICS), 2000","Integrated household survey (IHS), 2012",Yes,2007,NaN,2011.0,2000,NaN
231,VIR,Virgin Islands,Virgin Islands (U.S.),Virgin Islands of the United States,VI,U.S. dollar,NaN,Latin America & Caribbean,High income: nonOECD,VI,1982,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,General trade system,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN,NaN
237,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,2007,NaN,Value added at producer prices (VAP),IDA,NaN,Country uses the 1993 System of National Accou...,1990–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2006.0,2012.0,2005,NaN

In [11]:
edstats_country[edstats_country['2-alpha code'] != edstats_country['WB-2 code']]

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
35,CHI,Channel Islands,Channel Islands,Channel Islands,NaN,Pound sterling,NaN,Europe & Central Asia,High income: nonOECD,JG,2003,2007.0,Value added at basic prices (VAB),NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guernsey: 2009; Jersey: 2011.,NaN,NaN,Yes. Vital registration for Guernsey and Jersey.,NaN,NaN,NaN,NaN,NaN
40,COD,Dem. Rep. Congo,"Congo, Dem. Rep.",Democratic Republic of the Congo,CD,Congolese franc,"Based on INS (2000-09) and IMF (2010-13) data,...",Sub-Saharan Africa,Low income,ZR,2005,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,1999–2001,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Consolidated central government,General Data Dissemination System (GDDS),1984,"Demographic and Health Survey (DHS), 2013","1-2-3 survey (1-2-3), 2004/05",NaN,NaN,NaN,NaN,2005,NaN
158,NAM,Namibia,Namibia,Republic of Namibia,NaN,Namibian dollar,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,NaN,2010,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,2005,"IMF Balance of Payments Manual, 6th edition.",NaN,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2009/10",NaN,2014,NaN,2012.0,2002,NaN
181,PSE,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,PS,Israeli new shekel,NaN,Middle East & North Africa,Lower middle income,GZ,2004,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,Budgetary central government,Special Data Dissemination Standard (SDDS),2007,"Multiple Indicator Cluster Survey (MICS), 2010","Integrated household survey (IHS), 2009",NaN,NaN,2010.0,NaN,2005,NaN
197,SRB,Serbia,Serbia,Republic of Serbia,RS,New Serbian dinar,Montenegro declared independence from Serbia a...,Europe & Central Asia,Upper middle income,YF,Original chained constant price data are resca...,2002.0,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Consolidated central government,General Data Dissemination System (GDDS),2011,"Multiple Indicator Cluster Survey (MICS), 2010","Integrated household survey (IHS), 2010",Yes,2012,2010.0,NaN,2009,NaN
216,TLS,Timor-Leste,Timor-Leste,Democratic Republic of Timor-Leste,TL,U.S. dollar,"Based on official government statistics, natio...",East Asia & Pacific,Lower middle income,TP,2010,NaN,Value added at basic prices (VAB),Blend,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2009/10",Living Standards Measurement Study Survey (LSM...,NaN,2010. Population and Housing Census.,NaN,2005.0,2004,NaN
236,XKX,Kosovo,Kosovo,Republic of Kosovo,NaN,Euro,"Kosovo became a World Bank member on June 29, ...",Europe & Central Asia,Lower middle income,KV,2008,NaN,Value added at basic prices (VAB),IDA,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,NaN,NaN,General Data Dissemination System (GDDS),2011,NaN,"Integrated household survey (IHS), 2011",NaN,NaN,NaN,NaN,NaN,NaN
237,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,2007,NaN,Value added at producer prices (VAP),IDA,NaN,Country uses the 1993 System of National Accou...,1990–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2006.0,2012.0,2005,NaN

In [12]:
edstats_country.isnull().sum()

Country Code                                           0
Short Name                                             0
Table Name                                             0
Long Name                                              0
2-alpha code                                           3
Currency Unit                                         26
Special Notes                                         96
Region                                                27
Income Group                                          27
WB-2 code                                              1
National accounts base year                           36
National accounts reference year                     209
SNA price valuation                                   44
Lending category                                      97
Other groups                                         183
System of National Accounts                           26
Alternative conversion factor                        194
PPP survey year                                       96
Balance of Payments Manual in use                     60
External debt Reporting status                       117
System of trade                                       41
Government Accounting concept                         80
IMF data dissemination standard                       60
Latest population census                              28
Latest household survey                              100
Source of most recent Income and expenditure data     81
Vital registration complete                          130
Latest agricultural census                            99
Latest industrial data                               134
Latest trade data                                     56
Latest water withdrawal data                          62
Unnamed: 31                                          241
dtype: int64

My thought is that if a column has more than 40% null values (meaning 96 or more null values), the column should be dropped simply because that column does not seem to be a valuable metric (a valuable metric would surely be able to measure countries more frequently than 60% or less). There are 11 columns that can be eliminated. I'll try to use a `for` or `while` loop to place these columns in a list that can be used to exclude those columns:

In [16]:
keep = []
for col in edstats_country.columns:
    if edstats_country[col].isnull().sum() < 96:
        keep.append(col)
print(keep)

['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code', 'Currency Unit', 'Region', 'Income Group', 'WB-2 code', 'National accounts base year', 'SNA price valuation', 'System of National Accounts', 'Balance of Payments Manual in use', 'System of trade', 'Government Accounting concept', 'IMF data dissemination standard', 'Latest population census', 'Source of most recent Income and expenditure data', 'Latest trade data', 'Latest water withdrawal data']

In [17]:
len(keep)

20

There are other columns which have a lot of null values, and I think if a column has between 10% (24 null values) up to 40% (96 null values) missing/null values, that column should be inspected to determine whether or not it should stay in the DataFrame.

In [19]:
for item in keep:
    print("The number of missing/null values in ", item, "is: ", edstats_country[item].isnull().sum())

The number of missing/null values in  Country Code is:  0
The number of missing/null values in  Short Name is:  0
The number of missing/null values in  Table Name is:  0
The number of missing/null values in  Long Name is:  0
The number of missing/null values in  2-alpha code is:  3
The number of missing/null values in  Currency Unit is:  26
The number of missing/null values in  Region is:  27
The number of missing/null values in  Income Group is:  27
The number of missing/null values in  WB-2 code is:  1
The number of missing/null values in  National accounts base year is:  36
The number of missing/null values in  SNA price valuation is:  44
The number of missing/null values in  System of National Accounts is:  26
The number of missing/null values in  Balance of Payments Manual in use is:  60
The number of missing/null values in  System of trade is:  41
The number of missing/null values in  Government Accounting concept is:  80
The number of missing/null values in  IMF data dissemination standard is:  60
The number of missing/null values in  Latest population census is:  28
The number of missing/null values in  Source of most recent Income and expenditure data is:  81
The number of missing/null values in  Latest trade data is:  56
The number of missing/null values in  Latest water withdrawal data is:  62

The columns I am particularly interested in are `Income Group`, `Region is`, and possibly the `Country Code`, `Short Name`, `Long Name`, or `Table Name`.

I will explore some of the other files and see if files/tables should be combined for additional analysis.

One area of data cleaning that can be done is to make all column names lowercase and replace the whitespace with underscores. This would standardize column names.

Some questions that come to mind:

- Is there a relationship between a country's region and it's income group?
- What are some interesting conditional probabilities that would be helpful in answering the above questions?
- This data set should be telling us something about education; what can we infer from the data about education?

In [23]:
edstats_country.columns = (edstats_country.columns
                           .str.lower()
                           .str.strip()
                           .str.replace('-', '_')
                           .str.replace(' ', '_'))
edstats_country[:3]

,country_code,short_name,table_name,long_name,2_alpha_code,currency_unit,special_notes,region,income_group,wb_2_code,national_accounts_base_year,national_accounts_reference_year,sna_price_valuation,lending_category,other_groups,system_of_national_accounts,alternative_conversion_factor,ppp_survey_year,balance_of_payments_manual_in_use,external_debt_reporting_status,system_of_trade,government_accounting_concept,imf_data_dissemination_standard,latest_population_census,latest_household_survey,source_of_most_recent_income_and_expenditure_data,vital_registration_complete,latest_agricultural_census,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data,unnamed:_31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accou...,1991–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN

In [29]:
edstatscntry_first_9_cols = edstats_country.loc[:, 'country_code':'income_group']
edstatscntry_first_9_cols[:10]

,country_code,short_name,table_name,long_name,2_alpha_code,currency_unit,special_notes,region,income_group
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD
5,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN
6,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,AE,U.A.E. dirham,April 2013 database update: Based on data from...,Middle East & North Africa,High income: nonOECD
7,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,NaN,Latin America & Caribbean,Upper middle income
8,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,NaN,Europe & Central Asia,Lower middle income
9,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income

In [31]:
edstatscntry = (edstats_country[['country_code', 'short_name', '2_alpha_code', 'currency_unit',
                                 'region', 'income_group']])
edstatscntry[:10]

,country_code,short_name,2_alpha_code,currency_unit,region,income_group
0,ABW,Aruba,AW,Aruban florin,Latin America & Caribbean,High income: nonOECD
1,AFG,Afghanistan,AF,Afghan afghani,South Asia,Low income
2,AGO,Angola,AO,Angolan kwanza,Sub-Saharan Africa,Upper middle income
3,ALB,Albania,AL,Albanian lek,Europe & Central Asia,Upper middle income
4,AND,Andorra,AD,Euro,Europe & Central Asia,High income: nonOECD
5,ARB,Arab World,1A,NaN,NaN,NaN
6,ARE,United Arab Emirates,AE,U.A.E. dirham,Middle East & North Africa,High income: nonOECD
7,ARG,Argentina,AR,Argentine peso,Latin America & Caribbean,Upper middle income
8,ARM,Armenia,AM,Armenian dram,Europe & Central Asia,Lower middle income
9,ASM,American Samoa,AS,U.S. dollar,East Asia & Pacific,Upper middle income

In [33]:
edstatscntry['region'].isnull().sum()

27

In [39]:
edstatscntry[edstatscntry['region'].isnull()]

,country_code,short_name,2_alpha_code,currency_unit,region,income_group
5,ARB,Arab World,1A,NaN,NaN,NaN
57,EAP,East Asia & Pacific (developing only),4E,NaN,NaN,NaN
58,EAS,East Asia & Pacific (all income levels),Z4,NaN,NaN,NaN
59,ECA,Europe & Central Asia (developing only),7E,NaN,NaN,NaN
60,ECS,Europe & Central Asia (all income levels),Z7,NaN,NaN,NaN
63,EMU,Euro area,XC,NaN,NaN,NaN
68,EUU,European Union,EU,NaN,NaN,NaN
78,GIB,Gibraltar,GI,Gibraltar pound,NaN,NaN
89,HIC,High income,XD,NaN,NaN,NaN
92,HPC,Heavily indebted poor countries (HIPC),XE,NaN,NaN,NaN
116,LAC,Latin America & Caribbean (developing only),XJ,NaN,NaN,NaN
122,LCN,Latin America & Caribbean (all income levels),ZJ,NaN,NaN,NaN
123,LDC,Least developed countries: UN classification,XL,NaN,NaN,NaN
124,LIC,Low income,XM,NaN,NaN,NaN
127,LMC,Lower middle income,XN,NaN,NaN,NaN
128,LMY,Low & middle income,XO,NaN,NaN,NaN
140,MEA,Middle East & North Africa (all income levels),ZQ,NaN,NaN,NaN
143,MIC,Middle income,XP,NaN,NaN,NaN
148,MNA,Middle East & North Africa (developing only),XQ,NaN,NaN,NaN
157,NAC,North America,XU,NaN,NaN,NaN
166,NRU,Nauru,NR,NaN,NaN,NaN
168,OED,OECD members,OE,NaN,NaN,NaN
187,SAS,South Asia,8S,NaN,NaN,NaN
198,SSA,Sub-Saharan Africa (developing only),ZF,NaN,NaN,NaN
200,SSF,Sub-Saharan Africa (all income levels),ZG,NaN,NaN,NaN
225,UMC,Upper middle income,XT,NaN,NaN,NaN
234,WLD,World,1W,NaN,NaN,NaN

These countries that do not list a region also do not list an income group. I want to identify other countries that do not mention an income group:

In [40]:
edstatscntry[edstatscntry['income_group'].isnull()]

,country_code,short_name,2_alpha_code,currency_unit,region,income_group
5,ARB,Arab World,1A,NaN,NaN,NaN
57,EAP,East Asia & Pacific (developing only),4E,NaN,NaN,NaN
58,EAS,East Asia & Pacific (all income levels),Z4,NaN,NaN,NaN
59,ECA,Europe & Central Asia (developing only),7E,NaN,NaN,NaN
60,ECS,Europe & Central Asia (all income levels),Z7,NaN,NaN,NaN
63,EMU,Euro area,XC,NaN,NaN,NaN
68,EUU,European Union,EU,NaN,NaN,NaN
78,GIB,Gibraltar,GI,Gibraltar pound,NaN,NaN
89,HIC,High income,XD,NaN,NaN,NaN
92,HPC,Heavily indebted poor countries (HIPC),XE,NaN,NaN,NaN
116,LAC,Latin America & Caribbean (developing only),XJ,NaN,NaN,NaN
122,LCN,Latin America & Caribbean (all income levels),ZJ,NaN,NaN,NaN
123,LDC,Least developed countries: UN classification,XL,NaN,NaN,NaN
124,LIC,Low income,XM,NaN,NaN,NaN
127,LMC,Lower middle income,XN,NaN,NaN,NaN
128,LMY,Low & middle income,XO,NaN,NaN,NaN
140,MEA,Middle East & North Africa (all income levels),ZQ,NaN,NaN,NaN
143,MIC,Middle income,XP,NaN,NaN,NaN
148,MNA,Middle East & North Africa (developing only),XQ,NaN,NaN,NaN
157,NAC,North America,XU,NaN,NaN,NaN
166,NRU,Nauru,NR,NaN,NaN,NaN
168,OED,OECD members,OE,NaN,NaN,NaN
187,SAS,South Asia,8S,NaN,NaN,NaN
198,SSA,Sub-Saharan Africa (developing only),ZF,NaN,NaN,NaN
200,SSF,Sub-Saharan Africa (all income levels),ZG,NaN,NaN,NaN
225,UMC,Upper middle income,XT,NaN,NaN,NaN
234,WLD,World,1W,NaN,NaN,NaN

I think the countries that do not list an income group are also the countries that do not list a region. Let me check:

In [43]:
no_region = edstatscntry[edstatscntry['region'].isnull()]
no_income = edstatscntry[edstatscntry['income_group'].isnull()]
print(no_region['country_code'] == no_income['country_code'])

5      True
57     True
58     True
59     True
60     True
63     True
68     True
78     True
89     True
92     True
116    True
122    True
123    True
124    True
127    True
128    True
140    True
143    True
148    True
157    True
166    True
168    True
187    True
198    True
200    True
225    True
234    True
Name: country_code, dtype: bool

In [45]:
no_region['country_code'].value_counts().sum()

27

In [46]:
no_income['country_code'].value_counts().sum()

27

While the above sums *might* mean the countries which do not have an entry for `region` and `income_group`, we do not know for sure: there may be some countries *not listed* in one df; however, this would likely result in a `NaN` value when we checked for matches three lines above. But to be absolutely sure, we will verify counts all the way around:

In [47]:
no_region_income = no_region['country_code'] == no_income['country_code']
no_region_income.value_counts().sum()

27

After the above analysis, we are correct in saying the countries that do not have an entry for `region` are the same countries that do not have an entry for `income_group`. I will remove these countries for my analysis:

In [48]:
edstatscntry = edstatscntry[edstatscntry['income_group'].notnull()]
edstatscntry['income_group'].value_counts()

Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: income_group, dtype: int64

There are no more `NaN` values. I need to create a pivot table to better summarize the data into regions. Then I can plot the pivot table as a bar chart:

In [50]:
edstatscntry_pvt = pd.pivot_table(data=edstatscntry, values='region', index='income_group', aggfunc=sum)
edstatscntry_pvt

                                                                 region
income_group
High income: OECD     East Asia & PacificEurope & Central AsiaEurope...
High income: nonOECD  Latin America & CaribbeanEurope & Central Asia...
Low income            South AsiaSub-Saharan AfricaSub-Saharan Africa...
Lower middle income   Europe & Central AsiaLatin America & Caribbean...
Upper middle income   Sub-Saharan AfricaEurope & Central AsiaLatin A...

I actually do not think this is what I want. Pivot tables work well with quantitative values rather than qualitative values like `region`.

Think about what the graph is that you want. Maybe I want a pie chart (or bar chart) for each `income_group` that shows the frequency of each `region` in that `income_group`. I could potentially put these on the same graph where the x-axis is group by `income_group` and within each of these income groups, there are multiple bars representing the different regions; a stacked bar graph would work as well.

In [58]:
region_counts = edstatscntry['region'].value_counts()

In [59]:
income_counts = edstatscntry['income_group'].value_counts()

In [67]:
ed_pvt = pd.pivot_table(data=edstatscntry, values='income_group', index='region', aggfunc=np.sum)
ed_pvt

                                                                 income_group
region
East Asia & Pacific         Upper middle incomeHigh income: OECDHigh incom...
Europe & Central Asia       Upper middle incomeHigh income: nonOECDLower m...
Latin America & Caribbean   High income: nonOECDUpper middle incomeHigh in...
Middle East & North Africa  High income: nonOECDHigh income: nonOECDLower ...
North America               High income: nonOECDHigh income: OECDHigh inco...
South Asia                  Low incomeLow incomeLower middle incomeLower m...
Sub-Saharan Africa          Upper middle incomeLow incomeLow incomeLow inc...

I need to count up the number of each income group within each region (or vice versa; do both).

In [69]:
regions = edstatscntry['region'].unique()
print(regions)
print(type(regions))

['Latin America & Caribbean' 'South Asia' 'Sub-Saharan Africa'
 'Europe & Central Asia' 'Middle East & North Africa'
 'East Asia & Pacific' 'North America']
<class 'numpy.ndarray'>

In [71]:
inc_grps = edstatscntry['income_group'].unique()
print(inc_grps)

['High income: nonOECD' 'Low income' 'Upper middle income'
 'Lower middle income' 'High income: OECD']

In [79]:
region_cts = {}
for reg in regions:
    reg_sel = edstatscntry[edstatscntry['region'] == reg]
    for grp in inc_grps:
        grp_sel = reg_sel[reg_sel['income_group'] == grp]
        cts = grp_sel['country_code'].value_counts().sum()
        region_cts[grp] = [reg, cts]
print(region_cts)

{'High income: nonOECD': ['North America', 1], 'Low income': ['North America', 0], 'Upper middle income': ['North America', 0], 'Lower middle income': ['North America', 0], 'High income: OECD': ['North America', 2]}

I am having trouble identifying each combination of `region` and `income_group` in my dictionary. Once this is completed, I'll turn this into a dataframe and graph it.